<%- include('./includes/header') %>
    <title>登入畫面</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        html,body{
            height: 100%;
        }
        body{
            display: flex;
            background: url("https://picsum.photos/1440/1440?random1") no-repeat center center / cover;
            justify-content: center;
            align-items: center;
        }
        .login{
            width: 600px;
            height: 400px;
            background-color: rgba(0,0,0,.5);
            border-radius: 10px;
            border: 5px solid #fff;
            box-shadow: 0 0 50px #000;
            backdrop-filter: blur(3px);
            /* 讓裡面範圍模糊 */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form{
            font-family: Arial, Helvetica, sans-serif;
            width: 400px;
            color: #fff;
        }
        .form h2{
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #fff;
        }
        .form .group{
            margin-bottom: 20px;
        }
        .form h2 label{
            line-height: 2;
        }
        .form input{
            width: 100%;/*上下排列*/
            border: 1px solid #aaa;
            line-height: 3;
            border-radius: 5px;
        }
        .form .btn-group{
            margin-top: 50px;
            font-size: 0;/*兩個button中間的空格拿掉*/
        }
        .form .btn{
            font-size: 20px;
            border-radius: 5px;
            border: none;
            background-color: rgb(153, 153, 220);
            width: 190px;
            padding: 10px 0;
        }
        .form .btn + .btn{
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <!-- 導覽列 -->
    <%- include('./includes/navbar') %>



    <div class="login">
        <form action="/login" method="POST" class="form">
            <h2>會員登入</h2>
            <div class="group">
                <label for="email">帳號</label>
                <input type="email" name="email" id="user-id" placeholder="email">
            </div>
            <div class="group">
                <label for="password">密碼</label>
                <input type="password" name="password" id="user-password" placeholder="6~12英數字">
            </div>
            <div class="btn-group">
                <button class="btn"><a href="../index"></a>登入</button>
                <button class="btn"><a href=""></a>取消</button>
            </div>
        </form>
    </div>
    <%- include('./includes/footer') %>

